<!DOCTYPE html> <!-- Declaração do tipo de documento -->
<html lang="pt-br" dir="ltr"> <!-- Declaração do idioma da página  -->
<head>
    <meta charset="UTF-8"> <!-- Declaração da codificação de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Declaração da viewport para dispositivos móveis -->
    <title>Exercício 1</title> <!-- Título da página exibido na aba do navegador -->
</head>
<body>
    <h1>Exercício 1</h1> <!-- Título principal da página -->
    <p>Construa um programa em Python utilizando o comando while para encontrar todos os números pares entre 1 e 100.</p>
    <div id="resultado">
        {% if mensagem %} <!-- Verifica se há um resultado a ser exibido -->
            {{ mensagem }} <!-- Exibe o resultado da verificação  -->
        {% endif %}
    </div>
</body>
</html>